* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 11px;
}

.clear {
  clear: both;
}

header {
  padding: 3px;
  border-bottom: 1px solid #ddd;
}

.clear-button,
.refresh-button {
  padding: 5px 10px;
  color: #555;
  background-color: #fff;
  font-size: 12px;
  outline: 0;
  border: 1px solid #ddd;
}

.clear-button:hover {
  color: #000;
}

.storage-item {
  border-bottom: 1px solid #ddd;
}

.key,
.value {
  float: left;
  height: 20px;
  padding: 0 5px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.key {
  width: 20%;
}

.value {
  width: 80%;
}
