* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 11px;
}

.clear {
  clear: both;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 3px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 100px #fff inset;
  transition: background .1s linear;
}

header.updated {
  background-color: #e8f27d;
}

header .message {
  margin-left: 3px;
  color: #555;
}

button {
  padding: 3px 6px;
  color: #555;
  background-color: #fff;
  outline: 0;
  border: 1px solid #ddd;
}

button:hover {
  color: #000;
  border-color: #bbb;
}

.storage-items {
  margin: 28px 0;
}

.storage-items.beautify .storage-item {
  height: auto;
}

.storage-items.beautify .storage-item:hover {
  background-color: inherit;
}

.storage-items.beautify .storage-item .value {
  white-space: pre;
  font-family: monospace;
  line-height: 13px;
}

.storage-items em {
  padding: 10px;
}

.storage-item {
  border-bottom: 1px solid #ddd;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  height: 22px;
}

.storage-item.even {
  background-color: #eff;
}

.storage-item:hover {
  background-color: #fdf6e3;
}

.key,
.value {
  float: left;
  padding: 0 5px;
  line-height: 20px;
}

.key {
  padding-left: 0;
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.value {
  width: 80%;
}

.key button {
  margin-right: 4px;
  padding: 0 6px 3px;
  height: 22px;
  background-color: transparent;
  border: 0;
  border-right: 1px solid #eee;
}
